<template>
  <div class="home">
    <div id="paypal-button-container"></div>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    createOrder: async () => {
      // TODO: use appropriate server urls
      const res = await fetch(
        "http://127.0.0.1:8020/api/v1/payments/paypal/orders-create-request",
        {
          method: "post",
          headers: {
            "content-type": "application/json",
            Authorization:
              "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJBZG9uZ29KciIsImlzQWRtaW4iOnRydWUsImlhdCI6MTYxODkzMzgzMSwiZXhwIjoxNjE5NTM4NjMxfQ.LKahBwuPE8pWW1hJDzTmTd4r5HSknxIybPB3TVzeH34",
          },
          body: JSON.stringify({
            orderId: 3,
          }),
        }
      );
      const data = await res.json();
      console.log("Create Order Data ->", data);
      return data.data.paypalOrderId;
    },

    onApprove: async (data) => {
      console.log("On Approve data ->", data);

      // TODO: use appropriate server urls
      const res = await fetch(
        "http://127.0.0.1:8020/api/v1/payments/paypal/orders-capture-request",
        {
          method: "post",
          headers: {
            "content-type": "application/json",
            Authorization:
              "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJBZG9uZ29KciIsImlzQWRtaW4iOnRydWUsImlhdCI6MTYxODkzMzgzMSwiZXhwIjoxNjE5NTM4NjMxfQ.LKahBwuPE8pWW1hJDzTmTd4r5HSknxIybPB3TVzeH34",
          },
          body: JSON.stringify({
            orderId: 3,
            paypalOrderId: data.orderID,
          }),
        }
      );
      const details = await res.json();
      console.log("On Approve Details ->", details);
      alert(
        "Transaction funds captured from " + details.data.payer.name.given_name
      );
    },
  },
  mounted() {
    // console.log(window.paypal);
    this.paypal = window.paypal;

    this.paypal
      .Buttons({
        createOrder: this.createOrder,
        onApprove: this.onApprove,
      })
      .render("#paypal-button-container");
  },
};
</script>
